footer {
	background-color: #2a2a2a;
}

.footer_header {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-bottom: 90px;
	padding-top: 75px;
}

.footer_info {
	width: 33.3%;
	i {
		color: $primaryColor;
		font-size: 30px;
		font-weight: 400;
		line-height: 29px;
		padding-bottom: 20px;
	}
	h3 {
		color: $primaryColor;
		text-align: center;
		letter-spacing: 2px;
		padding-bottom: 15px;
	}
	h4 {
		color: #9c9c9c;
		font-weight: 400;
		letter-spacing: 0.52px;
		line-height: 24px;
	}
}

.footer_copyright {
	h4 {
		color: #a2a3a5;
		font-weight: 400;
		letter-spacing: 2.08px;
		line-height: 41px;
		padding-bottom: 85px;
	}
	span {
		color: $primaryColor;
		border: none;
	}
}

.footer_social {
	display: flex;
	flex-wrap: wrap;
	button {
		width: 25%;
		height: 100px;
		border: none;
	}
	button:hover {
		border-style: solid;
		border-width: 6px;
		border-color: #2a2a2a;
		box-sizing: border-box;
		transition: 0.5s all;
	}
	button i {
		color: $primaryColor;
		font-size: 25px;
		font-weight: 400px;
		line-height: 19px;
		text-align: center;
	}
	button:focus {
		outline: 0;
	}
}

.footer_social_facebook {
	background-color: #3d599b;
}

.footer_social_twitter {
	background-color: #5cadff;
}

.footer_social_googleplus {
	background-color: #fd4142;
}

.footer_social_pinterest {
	background-color: #de393a;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.footer_social {
		button {
			width: 50%;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.footer_info {
		width: 100%;
		margin-top: 25px;
	}
	.footer_header {
		padding-bottom: 45px;
		padding-top: 30px;
	}
	.footer_copyright {
		h4 {
			margin: 0 15px;
			padding-bottom: 40px;
		}
	}
}